.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
} /* for table scrolling*/

.table tr:nth-of-type(odd) {
  /*every odd row make this color*/
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
